# Processing the data

In [1]:
# standard library imports
import csv
import datetime as dt
import json
import os
import statistics
import time

# third-party imports
import numpy as np
import pandas as pd
pd.set_option("max_columns", 100)

## 1) Outliers
So far I have cleaned the empty fields, but there are still some fields with wrong values or that presents too strong biases.

In [2]:
steam_clean = pd.read_csv('data/steam_clean.csv')

C:\Users\carlo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
def number_uniques(table):
    for col in table.columns:
        n = len(pd.unique(table[col]))
        
        print('Column', col, 'has', n, 'different values.')

In [4]:
number_uniques(steam_clean)

Column type has 2 different values.
Column name has 33474 different values.
Column required_age has 33 different values.
Column is_free has 2 different values.
Column controller_support has 2 different values.
Column dlc has 2 different values.
Column developers has 21620 different values.
Column publishers has 17999 different values.
Column demos has 2 different values.
Column platforms has 7 different values.
Column recommendations has 3683 different values.
Column release_date has 4082 different values.
Column appid has 33571 different values.
Column positive has 4265 different values.
Column negative has 2125 different values.
Column userscore has 18 different values.
Column owners has 13 different values.
Column average_forever has 2007 different values.
Column average_2weeks has 574 different values.
Column median_forever has 1813 different values.
Column median_2weeks has 567 different values.
Column price has 260 different values.
Column initialprice has 140 different values.
Column discount has 52 different values.
Column genre has 1481 different values.
Column tags has 32523 different values.

In [5]:
steam_clean.dtypes

type                   object
name                   object
required_age           object
is_free                  bool
controller_support      int64
dlc                     int64
developers             object
publishers             object
demos                   int64
platforms              object
recommendations        object
release_date           object
appid                   int64
positive                int64
negative                int64
userscore               int64
owners                 object
average_forever         int64
average_2weeks          int64
median_forever          int64
median_2weeks           int64
price                 float64
initialprice          float64
discount              float64
genre                  object
tags                   object
dtype: object

With that overview of the unique values, I need to understand them:

In [6]:
def bias_review(table):
    cols_to_review = []
    size = table.shape[0]
    frontier = size*0.9
    
    for col in table.columns:
        mcv = table[col].value_counts(dropna=False).max() #most common value
        if (mcv > frontier):
            cols_to_review.append(col)
        print(col, mcv)
    return cols_to_review

In [7]:
steam_clean['appid'].value_counts().max()

2

In [8]:
mcv = steam_clean['genre'].value_counts()[0]
size = steam_clean.shape[0]
frontier = size*0.9
(mcv > frontier)
frontier

30274.2

In [9]:
cols_to_review = bias_review(steam_clean)
cols_to_review

type 33637
name 4
required_age 16802
is_free 28996
controller_support 26236
dlc 26506
developers 108
publishers 249
demos 30937
platforms 23619
recommendations 22734
release_date 51
appid 2
positive 1392
negative 3193
userscore 33617
owners 18269
average_forever 22218
average_2weeks 32214
median_forever 22218
median_2weeks 32214
price 6142
initialprice 6142
discount 32519
genre 2049
tags 99

['type', 'demos', 'userscore', 'average_2weeks', 'median_2weeks', 'discount']

The function above gives me a list of columns to check

**Types**

In [10]:
steam_clean.type.value_counts()

game        33637
hardware        1
Name: type, dtype: int64

There is only one field with hardware. That means that line can be dropped.

In [11]:
steam_clean = steam_clean.loc[steam_clean["type"] != 'hardware']

Now that all lines are confirmed as games, I don't need this column.

In [12]:
cols_to_drop = ['type']

**demos**

In [13]:
steam_clean.demos.value_counts()

0    30936
1     2701
Name: demos, dtype: int64

Even though this column appear as biased, the data it can offer is useful enough to keep it.

**userscore**

In [14]:
steam_clean.userscore.value_counts()

0     33616
46        2
95        2
51        2
80        2
65        1
78        1
82        1
68        1
63        1
57        1
55        1
84        1
98        1
97        1
70        1
73        1
94        1
Name: userscore, dtype: int64

The amount of games without userscore makes this column usless, I will need to drop this and rely on other columns with similar meaning.

In [15]:
cols_to_drop.append('userscore')

**average_2weeks**

In [16]:
steam_clean.average_2weeks.value_counts()

0       32213
1          61
3          19
2          19
4          18
        ...
1744        1
1162        1
398         1
404         1
130         1
Name: average_2weeks, Length: 574, dtype: int64

I think this column and the other average and median columns show the amount of time played. As I cannot find the actual explanation or the units for this column, and seeing how biased are all 4 columns, I won't use them.

In [17]:
cols_to_drop.append('average_forever')
cols_to_drop.append('average_2weeks')
cols_to_drop.append('median_forever')
cols_to_drop.append('median_2weeks')

**discount**

In [18]:
steam_clean.discount.value_counts()

0.0     32518
75.0      155
50.0      138
51.0      134
90.0      127
80.0       93
60.0       59
70.0       54
20.0       50
40.0       48
30.0       33
25.0       25
10.0       21
65.0       19
35.0       18
15.0       16
45.0       15
85.0       14
33.0       11
55.0       10
66.0       10
72.0        9
83.0        7
86.0        6
62.0        5
67.0        3
69.0        3
42.0        3
87.0        2
57.0        2
49.0        2
56.0        2
73.0        2
59.0        2
88.0        2
58.0        2
22.0        2
68.0        1
14.0        1
32.0        1
47.0        1
13.0        1
76.0        1
44.0        1
34.0        1
71.0        1
74.0        1
63.0        1
81.0        1
41.0        1
37.0        1
79.0        1
Name: discount, dtype: int64

This column shows the actual discount for the games. Out of sales seasons (like when this sample was taken) the discounts aren't that common. In this case, I think the column can be dropped.

In [19]:
cols_to_drop.append('discount')

In [20]:
cols_to_drop

['type',
 'userscore',
 'average_forever',
 'average_2weeks',
 'median_forever',
 'median_2weeks',
 'discount']

In [21]:
steam_clean = steam_clean.drop(cols_to_drop, 1)

C:\Users\carlo\AppData\Local\Temp/ipykernel_19256/2570983850.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  steam_clean = steam_clean.drop(cols_to_drop, 1)

Besides the biased columns, I need to look at a few more that I know show problems from the initial exploration:

**Age**

In [22]:
steam_clean.required_age.value_counts()

0                                                                             16801
0.0                                                                           15247
0                                                                               860
18                                                                              271
16                                                                              152
17                                                                               61
12                                                                               56
18.0                                                                             49
16.0                                                                             32
15                                                                               21
12.0                                                                             12
13                                                                               10
17.0                                                                             10
7                                                                                 8
13.0                                                                              8
7.0                                                                               5
3                                                                                 5
14                                                                                4
10                                                                                4
16                                                                                3
18                                                                                3
12                                                                                2
11                                                                                2
3.0                                                                               2
10.0                                                                              1
15.0                                                                              1
14.0                                                                              1
6                                                                                 1
javascript:ToggleCheckbox('checkbox_app_game_ratings_pegi_use_age_gate_');        1
16+                                                                               1
20                                                                                1
5                                                                                 1
17                                                                                1
Name: required_age, dtype: int64

This field presents a lot of issues from the get go, the main ones being the two string fields: `16+` and `javascript`.  
Once I fix them, I can turn everithing into integers.
First I drop the javascript line as it has no numerical correspondence.

In [23]:
steam_clean = steam_clean.loc[steam_clean["required_age"] != "javascript:ToggleCheckbox('checkbox_app_game_ratings_pegi_use_age_gate_');"]

In [24]:
steam_clean["required_age"].replace({"16+": 16}, inplace=True)

In [25]:
steam_clean["required_age"] = steam_clean["required_age"].astype('float')

In [26]:
steam_clean.required_age.value_counts()

0.0     32908
18.0      323
16.0      188
17.0       72
12.0       70
15.0       22
13.0       18
7.0        13
3.0         7
14.0        5
10.0        5
11.0        2
5.0         1
6.0         1
20.0        1
Name: required_age, dtype: int64

After the cleanup, I can see that the amount of 0 values might be too high, so I flag this column for deletion.

In [27]:
cols_to_drop = ['required_age']

**developers** and **publishers**  
These two columns show the same format:

In [28]:
steam_clean.developers.value_counts()

Unknown                           107
['KOEI TECMO GAMES CO., LTD.']     83
['SEGA']                           63
['Creobit']                        62
['Choice of Games']                59
                                 ...
['LobianGames']                     1
['S.O.T.A Games']                   1
['Magic Shot Games']                1
['Tenkai Games']                    1
['Symfonim']                        1
Name: developers, Length: 21620, dtype: int64

In [29]:
steam_clean.publishers.value_counts()

['']                  248
['SEGA']              157
['Strategy First']    139
['Square Enix']       130
['Ubisoft']           124
                     ...
['DCGsoft']             1
['JollyCo']             1
['InArcade']            1
['Blaze the Star']      1
['Symfonim']            1
Name: publishers, Length: 17999, dtype: int64

When the value is an empty string in the publisher column, it means that the developers didn't have a publisher behind them. I will leave the treatment of these two columns for when I need to encode them.

## 2) Dictionaries
There are some columns with fields made of dictionaries and while that may save space, it makes reading the information much more difficult. To handle the information inside those columns, I need to create anew columnes based on the contents of their fields:

In [30]:
import ast

def treat_dict(column):
    df = column.map(ast.literal_eval)
    df = df.apply(pd.Series)
    return df

In [31]:
platforms = treat_dict(steam_clean.platforms)

In [32]:
platforms

       windows    mac  linux
0         True   True   True
1         True   True   True
2         True   True   True
3         True   True   True
4         True   True   True
...        ...    ...    ...
33633     True  False  False
33634     True  False  False
33635     True  False  False
33636     True  False  False
33637     True  False  False

[33636 rows x 3 columns]

In [33]:
releases = treat_dict(steam_clean.release_date)
releases.rename(columns={'date': 'release'}, inplace=True)
cols_to_drop.append('release_date')
releases

       coming_soon       release
0            False   Nov 1, 2000
1            False   1 Apr, 1999
2            False   1 May, 2003
3            False   1 Jun, 2001
4            False   1 Nov, 1999
...            ...           ...
33633        False  13 Jan, 2022
33634        False   7 Jan, 2022
33635        False  28 Jan, 2022
33636        False  12 Dec, 2021
33637        False  21 Dec, 2021

[33636 rows x 2 columns]

In [41]:
releases.coming_soon.value_counts()

False    33632
True         4
Name: coming_soon, dtype: int64

In [42]:
releases.release.value_counts()

                51
28 Jan, 2021    49
15 Oct, 2020    47
14 Oct, 2021    45
18 Feb, 2021    42
                ..
15 Apr, 2013     1
18 Apr, 2013     1
Dec 2012         1
7 Dec, 2012      1
Sep 23, 2021     1
Name: release, Length: 4082, dtype: int64

In [34]:
recommendations = treat_dict(steam_clean.recommendations)
cols_to_drop.append('recommendations')
recommendations.rename(columns={'total': 'amount_recs'}, inplace=True)
recommendations

       amount_recs
0           118444
1             4478
2             3122
3             1494
4            11316
...            ...
33633            0
33634            0
33635            0
33636            0
33637            0

[33636 rows x 1 columns]

In [35]:
tags = treat_dict(steam_clean.tags)
tags

,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,3D Fighter,3D Platformer,3D Vision,4 Player Local,4X,6DOF,8-bit Music,ATV,Abstract,Action,Action RPG,Action RTS,Action Roguelike,Action-Adventure,Addictive,Adventure,Agriculture,Aliens,Alternate History,Ambient,America,Animation & Modeling,Anime,Arcade,Archery,Arena Shooter,Artificial Intelligence,Assassin,Asymmetric VR,Asynchronous Multiplayer,Atmospheric,Audio Production,Auto Battler,Automation,Automobile Sim,BMX,Base-Building,Baseball,Based On A Novel,Basketball,Battle Royale,Beat 'em up,...,Time Manipulation,Time Travel,Top-Down,Top-Down Shooter,Touch-Friendly,Tower Defense,TrackIR,Trading,Trading Card Game,Traditional Roguelike,Trains,Transhumanism,Transportation,Trivia,Turn-Based,Turn-Based Combat,Turn-Based Strategy,Turn-Based Tactics,Tutorial,Twin Stick Shooter,Typing,Underground,Underwater,Unforgiving,Utilities,VR,VR Only,Vampire,Vehicular Combat,Video Production,Vikings,Villain Protagonist,Violent,Visual Novel,Voice Control,Voxel,Walking Simulator,War,Wargame,Warhammer 40K,Web Publishing,Well-Written,Werewolves,Western,Word Game,World War I,World War II,Wrestling,Zombies,e-sports
0,256.0,1181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5379.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1173.0
1,NaN,132.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,745.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,247.0,NaN,NaN,NaN
3,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,629.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,132.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321.0,NaN,NaN,NaN,NaN,NaN,113.0,NaN,171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33633,NaN,NaN,NaN,333.0,381.0,345.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.0,NaN,NaN,NaN,NaN,NaN,439.0,276.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,399.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,53.0,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33635,NaN,71.0,NaN,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402.0,NaN,436.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33637,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This column creates too many different columns as it is made from the list of tags users have associated to the games. I think I won't need the column at all.

In [36]:
cols_to_drop.append('tags')

**genre**  
This columns show the genres associated to a game in the form of a comma separated list of variable amount of genres.
I want to keep only the most important ones.

In [37]:
steam_clean.genre.value_counts()

Action, Indie                                                              2049
Casual, Indie                                                              1586
Action, Adventure, Indie                                                   1582
Adventure, Indie                                                           1515
Action                                                                     1165
                                                                           ...
Violent, Simulation, Sports                                                   1
Violent, Gore, Action, Indie, RPG, Strategy                                   1
Free to Play, Indie, Massively Multiplayer, RPG, Strategy, Early Access       1
Action, Indie, Massively Multiplayer, Racing, Simulation, Sports              1
Action, Indie, Massively Multiplayer, Racing, Early Access                    1
Name: genre, Length: 1481, dtype: int64

In [38]:
genres = steam_clean.genre.str.split(', ')
genres = pd.DataFrame(genres.tolist())
genres = genres[[0, 1, 2]]
genres.rename(columns={0: 'genre1', 1:'genre2', 2:'genre3'}, inplace=True)
genres

          genre1     genre2 genre3
0         Action       None   None
1         Action       None   None
2         Action       None   None
3         Action       None   None
4         Action       None   None
...          ...        ...    ...
33631     Action  Adventure  Indie
33632     Action  Adventure  Indie
33633  Adventure     Casual   None
33634     Action  Adventure  Indie
33635     Casual       None   None

[33636 rows x 3 columns]

## 3) Reforming the dataframe
After all the processing has been done, I need to get all the data again in a dataframe, but first I need to remove the columns that will be replaced.

In [40]:
steam_dropped = steam_clean[cols_to_drop]
steam_clean = steam_clean.drop(cols_to_drop, 1)
steam_clean.shape

C:\Users\carlo\AppData\Local\Temp/ipykernel_19256/2979412295.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  steam_clean = steam_clean.drop(cols_to_drop, 1)

(33636, 15)